#logo {
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 1000;
    padding: 10px 10px 0 10px;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    right: 10px;
    top: 10px;
    display: flex;
    align-content: center;
}

#logo img {
    width: 163px;
    height: 57px;
}

@media screen and (max-width: 600px) {
    #logo {
        padding: 8px 8px 0 8px;
    }
    
    #logo img {
        width: 163px;
        height: 57px;
    }   
}